---
/* 
INFORMATION
set 
- size as string in rem (size of the clock)
- interval as string in seconds or milliseconds or as number of milliseconds
- numberStyle as 'normal' or 'roman'
*/
interface Props {
  class?: string;
  size?: string;
  interval?: string | number;
  numberStyle?: 'arabic' | 'roman';
  secondsStyle?: 'tick' | 'smooty' | 'off';
  ampm?: boolean;
  brand?: string;
  theme?: 'light' | 'dark';
}

const {
  class: classList,
  size = 'min(20rem, 100svw)',
  interval = '1000ms',
  numberStyle = 'arabic',
  secondsStyle = 'tick',
  brand = 'By Unibox',
  theme,
  ampm = true,
  ...attrs
} = Astro.props;

const variables = `--size: ${size};`;
---

<div
  id="clock-container"
  class:list={[classList]}
  style={variables}
  data-number-style={numberStyle}
  data-seconds-style={secondsStyle}
  data-theme={theme}
  {...attrs}
>
  {
    Array.from({ length: 60 }).map((_, idx) => {
      const rotation = (idx + 1) * 6;
      const lineHeight = rotation % 5 === 0 ? 6 : 3;
      const lineWidth = rotation % 5 === 0 ? 1 : 0.5;

      return (
        <div
          class="content"
          style={`--rotation: ${rotation}deg;--line-height: ${lineHeight}%;--line-width: ${lineWidth}%`}
        >
          <div class="line" />
          {rotation % 5 === 0 && (
            <div class="number">
              <span />
            </div>
          )}
        </div>
      );
    })
  }
  <span id="hours"></span>
  <span id="minutes"></span>
  <span id="seconds"></span>
  <span id="pern"></span>
  {
    ampm && (
      <div id="ampm">
        <span />
      </div>
    )
  }
  <div id="date">
    <div class="content">
      <span class="day"></span>
      <span class="separator"></span>
      <span class="month"></span>
    </div>
  </div>
  <div id="brand"><span>{brand}</span></div>
</div>

<style>
  #clock-container {
    --paddingX: 5px;
    --maxSize: calc(100svw - var(--paddingX) * 2);
    position: relative;
    container-type: size;
    margin-bottom: 2em;
    outline: calc(var(--containerWidth) / 150) solid #fff;
    border: calc(var(--containerWidth) / 50) solid;
    border-color: #000;
    border-radius: 50%;
    background: #fff;
    padding: var(--paddingX);
    width: var(--size);
    max-width: var(--maxSize);
    height: var(--size);
    max-height: var(--maxSize);
    overflow: clip;
    color: #000;

    .line,
    .number,
    #pern,
    #seconds,
    #minutes,
    #hours {
      position: absolute;
      inset: 0;
    }

    .content {
      position: absolute;
      transform: rotate(var(--rotation));
      inset: 0;

      .line {
        left: 50%;
        transform: translateX(-50%);
        background: #000;
        width: var(--line-width);
        height: var(--line-height);
      }
      .number {
        --number-size: 86%;
        display: flex;
        top: calc((100% - var(--number-size)) / 2);
        left: calc((100% - var(--number-size)) / 2);
        justify-content: center;
        width: var(--number-size);
        height: var(--number-size);
        text-align: center;

        span {
          position: absolute;
          transform: rotate(calc(var(--rotation) * -1));
          font-weight: 600;
          font-size: calc(var(--containerWidth) / 10);
          font-family: sans-serif;
        }
      }
    }
    &[data-number-style='roman'] .number span {
      transform: none;
      font-family: 'Roboto', sans-serif;
    }
    #pern,
    #seconds,
    #minutes,
    #hours {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    #pern {
      --pern-size: calc(var(--containerWidth) / 20);
      z-index: 20;
      border-radius: 50%;
      background: #f00;
      width: var(--pern-size);
      height: var(--pern-size);
    }
    #seconds,
    #minutes,
    #hours {
      transform: translate(-50%, -100%) rotate(var(--handRotation));
      transform-origin: center bottom;
      z-index: 10;

      &::after {
        --after_height: 40%;
        position: absolute;
        bottom: calc(var(--after_height) * -1);
        left: 0;
        transform: translateX(-25%);
        clip-path: polygon(20% 0, 80% 0, 100% 100%, 0% 100%);
        width: 200%;
        height: var(--after_height);
        content: '';
      }
    }
    #hours,
    #minutes {
      clip-path: polygon(40% 0, 60% 0%, 100% 140%, 0 140%);
      background: #000;
      width: calc(var(--size) * 0.02);
      &::after {
        background: inherit;
      }
    }
    #hours {
      height: 30%;
    }
    #minutes {
      z-index: 11;
      height: 40%;
    }
    #seconds {
      z-index: 12;
      background: #f00;
      width: calc(var(--size) * 0.005);
      height: 35%;

      &::after {
        background: #f00;
      }
    }
    #date {
      --date-size: 40%;
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: var(--date-size);
      height: var(--date-size);

      .content {
        display: flex;
        position: absolute;
        top: 50%;
        left: 70%;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
        border: 0.15em solid #000;
        border-radius: 0.5em;
        background: #fff;
        width: max-content;
        height: max-content;
        color: #000;

        span {
          padding: 0.1em 0.4em;
          font-weight: 600;
          font-size: calc(var(--containerWidth) / 20);

          &.separator {
            display: inline-block;
            background: #000;
            padding: 0;
            width: 0.12em;
            height: 1.7em;
          }
        }
      }

      @container (min-width: 7rem) {
        & {
          /* display: flex;
          justify-content: end;
          align-items: center; */
          display: block;
        }
      }
    }
    #brand {
      --brand-size: 50%;

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: var(--brand-size);
      height: var(--brand-size);
      span {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        color: hsl(240, 100%, 50%);
        font-weight: 400;
        font-size: calc(var(--containerWidth) / 12);
        font-family: 'Italianno', serif;
        text-align: center;
        text-shadow:
          0 0 0.5em hsl(204 42% 70%),
          0 0 1em hsl(204 42% 70%),
          0 0 2em hsl(204 42% 70%),
          0 0 4em hsl(204 42% 70%);
      }
    }

    #ampm {
      --ampm-size: 50%;
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: var(--ampm-size);
      height: var(--ampm-size);
      span {
        --span-size: 2.5em;
        display: flex;
        position: absolute;
        left: 0;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #000;
        width: var(--span-size);
        height: var(--span-size);
        color: #fff;
        font-weight: 600;
        font-size: calc(var(--containerWidth) / 25);
      }
    }
    @container (min-width: 7rem) {
      #ampm {
        display: flex;
        align-items: center;
      }
    }

    &.seconds-off {
      #pern {
        background: #000 !important;
      }
      #seconds {
        opacity: 0;
      }
    }
    &[data-theme='dark'] {
      border-color: #fff;
      background: #000;
      color: #fff;
      #hours,
      #minutes {
        background: #fff;
      }

      #brand span {
        color: #fff;
      }
      #ampm span {
        background: #fff;
        color: #000;
      }
      .line {
        background: #fff;
      }
    }
  }
</style>

<script>
  const container = document.getElementById(
    'clock-container'
  ) as HTMLDivElement;
  // time elements
  const ampm = container.querySelector('#ampm span') as HTMLSpanElement;
  const hours = container.querySelector('#hours') as HTMLDivElement;
  const minutes = container.querySelector('#minutes') as HTMLDivElement;
  const seconds = container.querySelector('#seconds') as HTMLDivElement;
  // date elements
  const dayEl = container.querySelector('.day') as HTMLSpanElement;
  const monthEl = container.querySelector('.month') as HTMLSpanElement;

  // container width
  const containerWidth = container.clientWidth;
  console.log('🚀 ~ :606 ~ containerWidth:', containerWidth);

  // number style
  const numbers = container.querySelectorAll(
    '.number span'
  ) as NodeListOf<HTMLDivElement>;
  const numberStyle = container.dataset.numberStyle!;
  // prettier-ignore
  const romans = [ 'I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X', 'XI', 'XII',
  ];
  function setNumberStyle(value: string) {
    if (value === 'arabic') {
      numbers.forEach((number, idx) => {
        number.textContent = (idx + 1).toString();
      });
    } else {
      numbers.forEach((number, idx) => {
        number.textContent = romans[idx];
      });
    }
  }
  const observer = new MutationObserver((mutations) => {
    mutations.forEach((mutation) => {
      if (mutation.attributeName === 'data-number-style') {
        const numberStyle = container.dataset.numberStyle!;
        setNumberStyle(numberStyle);
      } else if (mutation.attributeName === 'data-seconds-style') {
        const secondsStyle = container.dataset.secondsStyle!;
        setSecondsStyle(secondsStyle);
      }
    });
  });

  observer.observe(container, { attributes: true });

  const resizeObserver = new ResizeObserver((entries) => {
    entries.forEach((entry) => {
      const containerWidth = entry.contentRect.width;
      console.log('🚀 ~ :643 ~ containerWidth:', containerWidth);
      const roundedWidth = Math.round(containerWidth / 10) * 10;
      console.log('🚀 ~ :647 ~ roundedWidth:', roundedWidth);
      container.style.cssText += `--containerWidth: ${Math.round(roundedWidth)}px`;
    });
  });

  resizeObserver.observe(container);

  setNumberStyle(numberStyle);

  // seconds style
  let out1: any = null;
  let out2: any = null;
  let interval: number, clock: any;
  const secondsStyle = container.dataset.secondsStyle!;
  setSecondsStyle(secondsStyle);

  function clearTimeouts() {
    if (out1) {
      clearTimeout(out1);
      clearTimeout(out2);
    }
  }
  function setSecondsStyle(value: string) {
    // console.log('🚀 ~ :525 ~ setSecondsStyle ~ value:', value);
    if (value === 'off') {
      container.classList.add('seconds-off');
      updateClock(1001);
      interval = 60000 - new Date().getSeconds() * 1000;

      out1 = setTimeout(() => {
        updateClock(interval - 1500);
      }, 1500);

      out2 = setTimeout(() => {
        updateClock(60000);
      }, interval + 500);
    } else {
      clearTimeouts();
      container.classList.remove('seconds-off');
      if (value === 'smooty') {
        updateClock(100);
      } else {
        updateClock(1000);
      }
    }
  }

  // day and month
  const day = new Date().getDate();
  const month = new Date().toLocaleString('default', { month: 'short' });
  dayEl.textContent = day.toString();
  monthEl.textContent = month;

  function updateClock(interval: number) {
    if (clock) clearInterval(clock);

    clock = setInterval(() => {
      const time = new Date();
      const timeHours = time.getHours();
      const amPm = timeHours < 12 ? 'AM' : 'PM';
      const timeMinutes = time.getMinutes();
      const timeSeconds = time.getSeconds();
      const timeMilliseconds = time.getMilliseconds();

      // am/pm
      ampm.textContent = amPm;

      // hours degrees
      const hoursDegrees = timeHours * 30 + timeMinutes / 2;
      hours.style.cssText += `--handRotation: ${hoursDegrees}deg`;

      //  minutes degrees
      let minutesDegrees = timeMinutes * 6;
      if (interval <= 1000) {
        minutesDegrees += timeSeconds / 10;
      }
      minutes.style.cssText += `--handRotation: ${minutesDegrees}deg`;

      // seconds degrees
      const secondsDegrees =
        interval < 1000
          ? Math.ceil((timeSeconds * 1000 + timeMilliseconds) / 1.666666) / 100
          : timeSeconds * 6;
      seconds.style.cssText += `--handRotation: ${secondsDegrees}deg`;

      // logs
      if (import.meta.env.DEV) {
        // console.log('🚀 ~ :81 ~ time:', time);
        // console.log(
        //   '🚀 ~ :577 ~ updateClock ~ minutesDegrees:',
        //   minutesDegrees
        // );
        // console.log(
        //   '🚀 ~ :605 ~ updateClock ~ secondsDegrees:',
        //   secondsDegrees
        // );
      }
    }, interval);
  }

  updateClock(1000);
</script>
