---
/* 
INFORMATION
set 
- size as string in rem (size of the clock)
- interval as string in seconds or milliseconds or as number of milliseconds
- numberStyle as 'normal' or 'roman'
*/
interface Props {
  class?: string;
  size?: string;
  interval?: string | number;
  numberStyle?: 'normal' | 'roman';
}
const {
  class: classList,
  size = '30rem',
  interval = '1000ms',
  numberStyle = 'normal',
  ...attrs
} = Astro.props;

const regex = /(?<measure>[\d\.]+)(?<intervalUnit>s|ms)?/;
// interval
let intervalSize;
if (typeof interval === 'string') {
  const intervalResult = interval.match(regex)!;
  intervalSize = +intervalResult.groups?.measure!;
  const intervalUnit = intervalResult.groups?.intervalUnit!;
  intervalSize = intervalUnit === 's' ? intervalSize * 1000 : intervalSize;
} else {
  intervalSize = interval;
}

// size
const sizeResult = size.match(regex)!;
const sizeMeasure = +sizeResult.groups?.measure!;
const baseSize = `${sizeMeasure / 100}em`;

// number style
// prettier-ignore
const romans = ['I', 'II', 'III', 'IV', 'V', 'VI', 'VII', 'VIII', 'IX', 'X','XI', 'XII'];
---

<div
  id="clock-container"
  class:list={[classList]}
  {...attrs}
  data-interval={intervalSize}
>
  {
    Array.from({ length: 60 }).map((_, idx) => {
      const rotation = (idx + 1) * 6;
      const lineHeight = rotation % 5 === 0 ? 6 : 3;
      const lineWidth = rotation % 5 === 0 ? 1 : 0.5;
      const number =
        numberStyle === 'roman'
          ? romans[Math.trunc(idx / 5)]
          : Math.trunc(idx / 5 + 1);
      return (
        <div
          class="content"
          style={`--rotation: ${rotation}deg;--line-height: ${lineHeight}%;--line-width: ${lineWidth}%`}
        >
          <div class="line" />
          {rotation % 5 === 0 && (
            <div class="number">
              <span>{number}</span>
            </div>
          )}
        </div>
      );
    })
  }
  <span id="hours"></span>
  <span id="minutes"></span>
  {intervalSize <= 1000 && <span id="seconds" />}
  <span class="pern"></span>
  <div id="date">
    <div class="content">
      <span class="day">{new Date().getDate()}</span>
      <span class="month"
        >{new Date().toLocaleString('default', { month: 'short' })}</span
      >
    </div>
  </div>

  <style define:vars={{ size, baseSize }}>
    #clock-container {
      --paddingX: 5px;
      --maxSize: calc(100svw - var(--paddingX) * 2);
      position: relative;
      container-type: size;
      border: calc(var(--baseSize) * 1.5) solid #000;
      border-radius: 50%;
      padding: var(--paddingX);
      width: var(--size);
      max-width: var(--maxSize);
      height: var(--size);
      max-height: var(--maxSize);
      overflow: clip;

      .line,
      .number,
      .pern,
      #seconds,
      #minutes,
      #hours {
        position: absolute;
        inset: 0;
      }

      .content {
        position: absolute;
        transform: rotate(var(--rotation));
        inset: 0;

        .line {
          left: 50%;
          transform: translateX(-50%);
          background: #000;
          width: var(--line-width);
          height: var(--line-height);
        }
        .number {
          --number-size: 86%;
          display: flex;
          top: calc((100% - var(--number-size)) / 2);
          left: calc((100% - var(--number-size)) / 2);
          justify-content: center;
          width: var(--number-size);
          height: var(--number-size);
          text-align: center;

          span {
            position: absolute;
            transform: rotate(calc(var(--rotation) * -1));
            font-size: 1em;
          }
        }
        @container (min-width: 15rem) {
          .number span {
            font-size: 1.5em;
          }
        }
        @container (min-width: 20rem) {
          .number span {
            font-size: 2em;
          }
        }
        @container (min-width: 25rem) {
          .number span {
            font-size: 2.5em;
          }
        }
      }
      .pern,
      #seconds,
      #minutes,
      #hours {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      .pern {
        --pern-size: calc(var(--baseSize) * 3);
        z-index: 20;
        border-radius: 50%;
        background: #f00;
        width: var(--pern-size);
        height: var(--pern-size);
      }
      #seconds,
      #minutes,
      #hours {
        display: block;
        transform-origin: center bottom;
        z-index: 10;
        background: #000;
        &::after {
          --after_height: 40%;
          position: absolute;
          bottom: calc(var(--after_height) * -1);
          left: 0;
          transform: translateX(-25%);
          clip-path: polygon(20% 0, 80% 0, 100% 100%, 0% 100%);
          width: 200%;
          height: var(--after_height);
          content: '';
        }
      }
      #hours,
      #minutes {
        clip-path: polygon(40% 0, 60% 0%, 100% 140%, 0 140%);
        transition: 1s;
        width: calc(var(--size) * 0.02);
        &::after {
          background: #000;
        }
      }
      #hours {
        background: #000;
        height: 30%;
      }
      #minutes {
        z-index: 11;
        background: #000;
        height: 40%;
      }
      #seconds {
        z-index: 12;
        background: #f00;
        width: calc(var(--size) * 0.005);
        height: 35%;
        &::after {
          background: #f00;
        }
      }
      #date {
        --date-size: 50%;
        position: absolute;
        top: calc((100% - var(--date-size)) / 2);
        left: calc((100% - var(--date-size)) / 2);
        transform: rotate(90deg);
        width: var(--date-size);
        height: var(--date-size);

        .content {
          display: flex;
          justify-content: center;
          align-items: center;
          transform: rotate(-90deg);
          margin: 0 auto;
          border: 0.1em solid #333;
          border-radius: 0.1em;
          width: max-content;
          height: max-content;
          font-weight: 600;
          font-size: calc(var(--size) * 0.04);
          line-height: 1;
          span {
            padding: 0.2em 0.4em;
            font-size: 0.4em;
          }
          .day {
            border-right: calc(var(--size) * 0.005) solid #000;
          }
        }
        @container (min-width: 15rem) {
          .content span {
            font-size: 0.6em;
          }
        }
        @container (min-width: 20rem) {
          .content span {
            font-size: 0.8em;
          }
        }
        @container (min-width: 25rem) {
          .content span {
            font-size: 1em;
          }
        }
      }
    }
  </style>

  <script>
    const container = document.getElementById(
      'clock-container'
    ) as HTMLDivElement;
    const seconds = container.querySelector('#seconds') as HTMLDivElement;
    const minutes = container.querySelector('#minutes') as HTMLDivElement;
    const hours = container.querySelector('#hours') as HTMLDivElement;
    const numbers = container.querySelectorAll(
      '.number span'
    ) as NodeListOf<HTMLDivElement>;

    const containerWidth = container.clientWidth;
    console.log('🚀 ~ :259 ~ containerWidth:', containerWidth);

    // number size
    // numbers.forEach((number) => {
    //   number.style.fontSize = `${containerWidth / 12}px`;
    //   number.style.fontSize = `${containerWidth / 12}px`;
    // });

    const interval = +container.dataset.interval!;

    setInterval(() => {
      const time = new Date();
      const timeHours = time.getHours();
      const timeMinutes = time.getMinutes();
      const timeSeconds = time.getSeconds();
      const timeMilliseconds = time.getMilliseconds();

      const hoursDegrees =
        (timeHours % 24) * 30 + ((60 / 12) * timeMinutes) / 10;
      hours.style.transform = `translate(-50%, -100%) rotate(${hoursDegrees}deg)`;

      const minutesDegrees = ((timeMinutes * 6) % 360) + timeSeconds / 10;
      minutes.style.transform = `translate(-50%, -100%) rotate(${minutesDegrees}deg)`;

      const milliSecondsDegrees =
        interval < 1000
          ? Math.floor((timeSeconds * 1000 + timeMilliseconds) / 1.6666) / 100
          : interval === 1000
            ? timeSeconds * 6
            : 0;

      seconds.style.transform = `translate(-50%, -100%) rotate(${milliSecondsDegrees}deg)`;
      // console.log('🚀 ~ :81 ~ time:', time);
      // console.log('🚀 ~ :139 ~ milliSecondsDegrees:', milliSecondsDegrees);
    }, interval);
  </script>
</div>
